  body {
    font-family: Arial;
    margin: 0;
  }

  main {
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 100px;
  }
  
  header {
    padding: 20px;
    text-align: center;
    background: crimson;
    color: #fff;
  }
  
  header h1{
    font-size: 75px;
  }
  
  /* Nav Bar */

  nav {
    display: flex;
    background-color: black;
    align-items: center;
    position: relative;
    justify-content: space-between;

  }
  
  /* Nav links */
  nav ul {
    text-align: center;
  }

  nav li {
    display: inline;
    text-align: center;
    color: #fff;
  }

  nav a {
    color: #fff;
    text-align: center;
    padding: 50px;
  }

  nav a:visited {
    color: #fff;
  }


  /* Image Placeholders */
  .card {
    padding: 10px;
    margin: 10px;
    width: 250px;
    align-items: center;
    border-style:solid;
    border-width: 1px;
    flex: 40%;
    text-align: center;

  }

  .card header {
    padding: 20px;
    background:black;
    color: #fff;
  }
  
  .card img {
    width: 100%;
  }

  /* Work section */
  .workingImages1{
    display: flex ;
    align-items: center;
    flex-direction: row;
    padding: 5px;
  }
  .workingImages2{
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 5px;

  }

  /* Contact Info Section */
  .contactinfo ul {
    align-items: center;
    align-items: center;
    position: relative;
    justify-content: space-between;
    display: flex;
  }
  
  
/* Footer */

footer {
  display: flex;
  padding: 20px;
  align-items: center;
  background-color: black;
}

footer h2 {
  color: #fff;
  font-weight: 300;
}

footer a {
  color: #fff;
  padding: 20px;
  justify-content: space-between;
  position: relative;
  display: inline;
  
}
footer a:visited{
  color: #fff;
}


  /* Tablets - header changes color */
  @media screen and (max-width: 992px) {
    header {
      background: navy;
    }
  }
  
  /* Large smartphones - navbar changes color */
  @media screen and (max-width: 768px) {
    nav {
      background-color:forestgreen;
    }
    footer {
      background-color: forestgreen;
    }

    nav ul {
      text-align: center;
    }
  
    nav li {
      display: inline;
      text-align: center;
      color: #fff;
    }
  
    nav a {
      color: #fff;
      text-align: center;
      padding: 5px;
    }
  
    nav a:visited {
      color: #fff;
    }
    ul {
      list-style-type: none;
    }
    .workingImages1{
      display: flex ;
      align-items: center;
      flex-direction: column;
      padding: 5px;
    }
    .workingImages2{
      display: flex;
      align-items: center;
      flex-direction: column;
      padding: 5px;
    }
  }

  