  body {
    font-family: Arial;
    margin: 0;
  }

  main {
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: none;
    margin-top: none;
  }
  
  header {
    padding: 30px;
    text-align: center;
    background: crimson;
    color: #fff;
  }
  
  section {
    background-color: #fff;
  }
  
  footer {
    display: flex;
    padding: 20px;
    text-align: center;
    background-color: black;  
  }
  
  /* Nav Bar */

  nav {
    display: flex;
    background-color: black;
    align-items: center;
    position: relative;
    justify-content: space-between;

  }
  
  nav p {
    padding: 14px 20px;
    text-align: center;
  }

  nav ul {
    text-align: center;
  }

  nav li {
    display: inline;
    text-align: center;
    color: #fff;
  }

  nav a {
    color: #fff;
    text-align: center;
  }

  nav a:visited {
    color: #fff;
  }

  /* Link Colors */
  a {
    color: black;
    align-items: center;
  }
  a:visited {
    color:black
  }

  /* Image Placeholders */
  .card {
    padding: 10px;
    width: 250px;
    align-items: center;
    border-style:solid;
    border-width: 1px;
    flex: 40%;
  }

  .card header {
    padding: 20px;
    background:black;
    color: #fff;
  }
  
  .card img {
    width: 100%;
  }

  /* Work section */
  .workingImages1{
    display: flex ;
    align-items: center;
    flex-direction: row;
  }
  .workingImages2{
    display: flex;
    align-items: center;
    flex-direction: row;
  }

  /* Contact Info Section */
  .contactinfo ul {
    align-items: center;
    align-items: center;
    position: relative;
    justify-content: space-between;
    display: flex;
  }
  
  
  /* Tablets - header changes color */
  @media screen and (max-width: 992px) {
    header {
      background: navy;
    }
  }
  
  /* Large smartphones - navbar changes color */
  @media screen and (max-width: 768px) {
    nav {
      background-color:forestgreen;
    }
    footer {
      background-color: forestgreen;
    }
  }

  